/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
