<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['/']">Logo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample07">
			<ul class="navbar-nav navbar-right">
				<li><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
				<li><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
				<li><a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">Search</a></li>
			</ul>
		</div>
	</div>
</nav>
